{% extends "base.html" %}

{% block title %} Profile page {% endblock title %}

{% block header %} {% include "header.html" %} {% endblock header %}

{% block content %}
<!-- content4  -->
    <div class="profiledetail">
      <div class="container">
        <h3 class="title">profile detail</h3>
        <div class="row justify-content-center gy-4">
          <div class="col-8 col-sm-5 col-md-5 col-lg-4 d-none d-lg-block img1">
            <div class="card newimg">
              <img src="{{profile.profile_img.url}}" alt=""> 
            </div>
          </div>
          <div class="col-10 col-sm-10 col-md-8 col-lg-6">
            <div class="card" >
              <!-- <img src="/img/sc11.jpeg" class="card-img-top" alt="..."> -->
              <div class="card-body">
                <div class="address">
                  <form>
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">First name</label>
                        <input type="text" value="{{profile.first_name|title}}" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">Last name</label>
                        <input type="text" value="{{profile.last_name|title}}" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">Delivery address</label>
                        <input type="text" value="{{profile.email}}" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">phone no</label>
                        <input type="text" value="{{profile.phone}}" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">state</label>
                        <input type="text" value="{{profile.address}}" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email Address</label>
                        <input type="email" value="{{profile.city}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputText1" class="form-label">state</label>
                        <input type="text" value="{{profile.state}}" class="form-control" id="exampleInputtext1" aria-describedby="textHelp">
                      </div>
                      
                      <!-- <button type="submit" class="btn btn-primary">Pay</button> -->
                    </form>
              </div>
              </div>
            </div>  
          </div>
          <div class="col-10 col-sm-10 col-md-4 col-lg-3 advert">
            <!-- <img src="/img/sc7.jpeg" alt=""> -->
            <div class="row justify-content-center">
              <div class="col-12 col-lg-10 mb-4">
                <div class="col-12 col-lg-10 mb-4">
                  <div class="card">
                    <div class="card-body">
                      <p class="cardtext"><a href="{% url 'index' %}">home</a></p>
                      <p class="cardtext"><a href="">cart</a></p>
                      <p class="cardtext"><a href="{% url 'profiles' %}">profile</a></p>
                      <p class="cardtext"><a href="{% url 'profile_update' %}">profile update</a></p>
                      <p class="cardtext"><a href="{% url 'profile_password' %}">password update</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
    <!-- content4 done -->
    {% include "brands.html" %}
    <!-- cotent 5  -->
    
    <!--  -->
  </div>
{% endblock content %}



{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}